<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body class="bg-back">
  <section>
    <h1 class="text-5xl text-[#e5e5e5]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, doloremque.</h1>
  </section>
</body>
</html>
